

<section class="cart">

    <% if(session.cart){ %> 
    <div class="order container mx-auto w-1/2">
        <div class="  flex items-center border-b border-gray-400 pb-4">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="cart-items">

         <% for(let clothes of Object.values(session.cart.items))   { %> 
        <div class=" mb-4 pizza-list">
            <div class="flex item-center mt-10">
            <img class="w-24 " src="/img/<%=clothes.item.image%>" alt="">
            <div class="ml-4 mr-4 flex-1">
                <h1><%=clothes.item.name%></h1>
            </div>
            <span class="flex-1"><%=clothes.qty%></span>
            <span class="font-bold text-lg "><%=clothes.item.price*clothes.qty %></span>
        </div>
        </div>
       <%}%>

    </div>
        <hr >
        <div class="text-right py-10">
            <div >
                <span>Total amount:</span>
                <span class="font-bold text-lg"><%=session.cart.totalPrice%></span>
            </div>

            <div >
                <form action="" class="mt-10 mb-10">

                    <input class="border-gray-400 border p-4 w-1/2 mb-2  " type="text" placeholder="time">
                    <input class="border-gray-400 border p-4  w-1/2 mb-2" type="text" placeholder="Mobile number">
                    <input class="border-gray-400 border p-4 w-1/2 " type="text" placeholder="Hostel name">
                    <div class="mt-10 ">
                        <button type="submit" class="btn-primary rounded-full px-6 py-2 text-white font-bold ">ORDER NOW</button>
                    </div>

                </form>
            </div>

            <a href="" class="btn-primary rounded-full px-6 py-2 text-white font-bold"> Login to continue</a>

        </div>
    </div>

    <% } else { %> 
   <div class="empty-cart mt-12">
   
        <div class="container mx -auto text-center">
       
         <h1 class="text-3xl font-bold mb-8">Cart Empty</h1>  
           <p class="mb-12 ">
               no items
           </p>
           <a href="/" class="btn-primary mt-12 inline block px-6 py-1 rounded-full" >Go back</a>
       
       </div>
    </div>

    <% } %> 
</section>